* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secciones a {
    color: #aaa;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 0px 15px;
}

.idiomas {
  display: flex;
  gap: 5px;
  
}

.idiomas button {
  background-color: #999;
  color: white;
  padding: 4px ;
  font-size: 14px;
  border: white;
}