* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: #f57364;
  color: white;
  text-align: center;
  padding: 30px;
}


nav {
  background-color: #2ac6a0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.layout {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 30%; 
  background-color: #f1f1f1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contenedor {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 20px; 
}

.contenido {
  width: 70%; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contenido article img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}


footer {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}